.forgotSection {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 3vh 0;
    background-image: url('/images/formBackground2.png');
    width: 100vw;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.forgotMail{
    margin-bottom: 0 !important;
}
.forgotConfirm{
    margin-bottom: 0 !important;
}

.forgotContainer {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 1.5rem;
    background: #0c3b7b;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: helvetica;
    text-align: center;
}

.forgotTitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #ffffff;
}

.forgotInstructions {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

/* Input Fields */
.forgotLabel {
    font-weight: bold;
    font-size: 0.875rem;
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
}

.forgotInput {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 0.875rem; 
    background-color: white;
    height: 3vh;
    margin-bottom: 0vh !important;
}

.forgotInput input::placeholder {
    color: black;
    opacity: 1;
}

/* Buttons */
.buttonGroup {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 3vh;
}

.submitButton {
    flex: 1;
    padding: 0.9375rem 1.25rem;
    background-color: #0c3b7b;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
}

.submitButton:hover {
    background: #e0e0e0;
}

.backButton {
    flex: 1;
    padding: 0.9375rem 1.25rem;
    background-color: white;
    color: #0c3b7b;
    font-weight: bold;
    border: 1px solid #0c3b7b;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.backButton:hover {
    background: #e0e0e0;
}

.forgotInput {
    font-size: 0.8rem;
    width: 95%;
    margin-bottom: 3vh;
}

.forgotLabel {
    font-weight: bold;
    font-size: 0.875rem; 
    margin-bottom: 0.5rem;
    color: white;
}

.submitButton, .backButton {
    font-size: 0.875rem;
    background-color: white;
    color: #0056b3;
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0;
}

.errorMessage2 {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0;
}
.successMessage {
    color: rgb(0, 255, 0);
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {

    .forgotSection{
        padding: 3vh 0;
        background-image: url('/images/formBackground3.png');
        width: 100vw;
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .forgotContainer {
        width: 80%;
        margin-bottom: 0;
        margin-top: 0;
        
    }

    .forgotInstructions{
        font-size: 0.7rem;
    }
    .forgotTitle {
        font-size: 1.25rem;
        margin-bottom: 2vh;
    }

    .forgotInput {
        font-size: 0.8rem;
        width: 95%;
        margin-bottom: 3vh;
    }

    .forgotLabel {
        font-size: 0.8rem;
    }

    .submitButton, .backButton {
        font-size: 0.875rem;
        background-color: white;
        color: #0056b3;
        padding: 0;
        flex: 0;
        padding: 1vh 2vh;
    }

    .forgotLabel {
        font-weight: bold;
        font-size: 0.875rem; 
        margin-bottom: 0.5rem;
        color: white;
    }

    .forgotInput::placeholder {
        color: black;
    }
}