.thankYouContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('/images/formBackground2.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.overlay {
  background: #0c3b7b;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  animation: fadeIn 1.2s ease-in-out;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
  animation: bounce 1.5s infinite;
}

.message {
  font-size: 1.2rem;
  margin-top: 15px;
  line-height: 1.6;
}

.backButton {
  margin-top: 20px;
  background: linear-gradient(135deg, #4A90E2, #00BFFF);
  color: white;
  padding: 12px 24px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s ease-in-out;
}

.backButton:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(74, 144, 226, 0.5); 
}


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .overlay {
      padding: 25px;
      max-width: 80%;
      border-radius: 15px;
    
  }

  .title {
      font-size: 2.2rem;
  }

  .message {
      font-size: 1rem;
      line-height: 1.5;
  }

  .backButton {
      font-size: 1rem;
      padding: 10px 20px;
  }
}
