.referencesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: #0c3b7b;
}

.textContainer {
  width: 80%;
  max-width: 1000px;
  height: 60vh;
  padding: 1.5rem;
  background-color: #0c3b7b;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  text-align: justify;
}

.paragraph {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

.boldText {
  font-weight: bold;
}

.strongText {
  font-weight: bold;
}

.link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.textContainer::-webkit-scrollbar {
  width: 8px;
}

.textContainer::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

.textContainer::-webkit-scrollbar-track {
  background: white;
}
